.container {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center-align the boxes horizontally */
  }
  
  .box {
    width: 900px; /* Increased width for better appearance */
    height: 30px; /* Fixed height for a long and narrow appearance */
    padding: 10px; /* Add some padding inside the boxes */
    margin: 10px ; /* Vertical margin */
    background-color: white;
    border-radius: 8px; /* Rounded corners */
    text-align: left; /* Center-align text and buttons */
    font-weight: 500;
    color: black;
    font-size: 1em;
    text-decoration-line: none;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: right; /* Center-align buttons horizontally */
    gap: 10px; /* Space between buttons */
    margin-top: 1px; /* Space above the buttons */
  }
  
  .button {
    display: inline-block; /* Inline-block for buttons */
    padding: 0px 15px; /* Padding for buttons */
    background-color: #e74c3c; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners for buttons */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth color transition */
  }
  
  .button:hover {
    background-color: orange; /* Darker background on hover */
  }
  
  
  /* ! icon css start */
  .icon {
    font-size: 14px; /* Increase icon size */
    font-weight: bold; /* Make icon bold */
    color: white; /* Icon color */
  }
  /* ! icon css end */